
label {
    font-weight: 400;
}

.el-dialog__body {
    padding: 12px 20px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
}
#app .sidebar-container .theme-dark .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .theme-dark .el-submenu .el-menu-item {
    padding-left: 24px!important;
}
#app .sidebar-container .svg-icon {
    margin-right: 6px!important;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .el-submenu .el-menu-item {
    min-width: 260px !important;
}
.el-table__body tr.current-row > td.el-table__cell {
    background-color: #c8e5ff;
}
.el-checkbox__inner {
    border: 1px solid #a2a2a2;
}
.el-tabs__item {
    height: 32px;
    line-height: 32px;
}